@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html {
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-flow .react-flow__handle {
  background: #141a41;
  border-radius: 4px;
  width: 28px;
  height: 12px;
  border: none;
  min-width: 2px;
  min-height: 2px;
}

.react-flow .react-flow__handle-top {
  left: 50%;
  top: -6px;
  transform: translate(-50%, 0);
  z-index: -1;
}

.react-flow .react-flow__handle-bottom {
  left: 50%;
  bottom: -6px;
  transform: translate(-50%, 0);
  z-index: -1;
}

.react-flow__edge .react-flow__edge-path {
  stroke-width: 2;
  stroke-opacity: 0.75;
}

.react-flow .react-flow__controls-button {
  width: 24px;
  height: 24px;
}

.react-flow__panel.react-flow__attribution {
  display: none;
}
